$green: #0F4A30;
$darkGreen: #133627;
$light: #F5F2D9;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body {
    background-color: $green;
    font-size: clamp(16px, 1.05vw, 22px);
    color: $light;
    font-family: 'Poppins', sans-serif;
}

#wpadminbar {
    display: none;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
}

h1,h2,h3,h4 {
    line-height: 1.5;
}

$breakpoints: (
  'mobile':  480px,
  'small': 768px,
  'tablet': 1024px,
  'laptop':  1366px,
  '1440': 1440px,
  'large': 1920px
) !default;

@mixin responsive($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}




$container: 80vw;
$containerMobile: 90vw;

.container {
    width: min($container, 1600px);
    margin: 0 auto;
    position: relative;
    @include responsive('tablet') {
        width: min($containerMobile, 900px);
    }
}

.container-big {
    @extend .container;
    width: min(95vw, 1920px);
}

@media screen and (max-width: 782px) {
    html {
        margin-top: 0px !important;
    }
}
