.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.events-section {
    position: relative;

    .decoration {
        @extend .center-absolute;
        fill: $darkGreen;
        z-index: -4;
    }
}

.events-container {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 50px;
    }

    @include responsive('tablet') {
        &.active {
            width: 100%;

            .events-elements {
                transform: scale(110%);
                transform-origin: top;
                @include transition(transform);
            }
        }
    }
}

.events-elements {
    border: 5px solid $light;
    border-radius: 50%;
    width: min(50vw, 1600px);
    height: min(50vw, 1600px);
    display: flex;
    justify-content: center;
    position: relative;
    transform: scale(1);
    transform-origin: top;
    @include transition(transform);

    @include responsive('laptop') {
        width: 60vw;
        height: 60vw;
    }

    @include responsive('tablet') {
        width: 80vw;
        height: 80vw;
    }

    @include responsive('small') {
        flex-direction: column;
        width: 750px;
        height: 750px;
    }

    .events-button {
        position: absolute;
        background-color: transparent;
        border: none;

        @include responsive('small') {
            position: static;
        }

        img {
            pointer-events: none;

            @include responsive('tablet') {
                width: 75%
            }

            @include responsive('small') {
                width: 75vw;
                height: calc(700px / 9);
                margin: auto;
            }
        }

        .name {
            @extend .center-absolute;
            color: $light;
            z-index: 1;
            cursor: pointer;
            @include transition(color);
        }

        &.left-20 {
            left: -25%;
            @include transition(transform);
            transform: translateX(0);

            @include responsive('tablet') {
                left: -10vw;

                &.move-left {
                    @include transition(transform);
                    transform: translateX(-100%);
                }

                img {
                    margin-right: auto;
                }

                .name {
                    left: 35%;

                    @include responsive('small') {
                        left: unset;
                    }
                }
            }
        }

        &.right-20 {
            right: -25%;
            @include transition(transform);
            transform: translateX(0);

            @include responsive('tablet') {
                right: -10vw;

                &.move-right {
                    @include transition(transform);
                    transform: translateX(100%);
                }

                img {
                    margin-left: auto;
                }

                .name {
                    left: 65%;

                    @include responsive('small') {
                        left: unset;
                    }
                }
            }
        }

        .child {
            @extend .center-absolute;
            width: 90%;
            opacity: 0;
            @include transition(opacity);
            pointer-events: none;
        }

        &:hover {
            
            & > .name {
                color: $green;
                @include transition(color);
            }

            .child {
                opacity: 1;
                @include transition(opacity);
            }
        }

        &.one {
            top: 20%;
        }

        &.two {
            top: 35%;
        }

        &.three {
            top: 50%;
        }

        &.four {
            top: 65%;
        }

        &.five {
            top: 80%;
        }
    }
}

.events-element-container {
    border-radius: 50%;
    width: min(45vw, 1400px);
    height: min(45vw, 1400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    @extend .center-absolute;
    background-color: $light;
    color: $green;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility 0s ease-in-out .3s;

    @include responsive('laptop') {
        width: 55vw;
        height: 55vw;
    }

    @include responsive('tablet') {
        width: 75vw;
        height: 75vw;
        padding: 60px;
    }

    @include responsive('small') {
        width: 700px;
        height: 700px;
        padding-inline: 45vw;
        padding-bottom: 0;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s ease-in-out, visibility 0s ease-in-out 0s;
    }

    h3, .events-element-text {
        margin-bottom: 60px;

        @include responsive('small') {
            width: 80vw;
        }
    }

    .close-btn {
        height: 25px;
        width: 25px;
        background-color: $green;
        border-radius: 50%;
        position: relative;
        border: none;

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "\2716";
            font-size: 15px; 
            color: $light;
            line-height: 25px;
            text-align: center;
        }
    }
}