.gallery-container {
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 100px;
    position: relative;
    margin-bottom: -150px;

    @include responsive('tablet') {
        padding-left: 0;
    }

    @include responsive('small') {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.gallery-header-stroke {
    position: absolute;
    font-size: 200px;
    left: 42%;
    top: 3%;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $light;

    @include responsive('tablet') {
        transform: rotate(0);
        padding-bottom: 30px;
    }

    @include responsive('small') {
        display: none;
    }
}

.gallery-header-revert {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    position: absolute;
    font-size: 200px;
    left: -2%;
    bottom: 30%;
    z-index: -3;

    @include responsive('tablet') {
        transform: rotate(0);
        padding-bottom: 30px;
        top: 35%;
    }

    @include responsive('small') {
        font-size: 75px;
        top: 0;
        left: 0;
        transform: none;
        writing-mode: horizontal-tb;
    }
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .gallery-image {
        flex: 33%;
        position: relative;

        @include responsive('tablet') {
            flex: 50%;
        }

        @include responsive('small') {
            flex: 100%;
        }

        &.one {
            top: -100px;
            z-index: 1;

            @include responsive('tablet') {
                top: -80px;
            }

            @include responsive('small') {
                top: -70px;
            }
        }

        &.two {
            left: clamp(-100px, -5vw, 1920px);

            @include responsive('tablet') {
                top: -25px;
            }

            @include responsive('small') {
                top: -70px;
                left: -10px;
            }

            img {
                width: 90%;

                @include responsive('tablet') {
                    width: 100%;
                }
            }
        }

        &.three {
            top: -25px;
            z-index: -1;
            left: clamp(-9vw,-8.5vw,1920px);

            @include responsive('tablet') {
                left: 0;
            }

            @include responsive('small') {
                top: -70px;
                left: 10px;
            }
        }

        &.four {
            top: clamp(-355px, -22vw, 1920px);
            left: clamp(16px,-0.5vw,1920px);

            @include responsive('tablet') {
                top: clamp(-355px,-32vw,1920px);
                left: clamp(-50px,-5.5vw,1920px);
            }

            @include responsive('small') {
                top: -70px;
                left: -10px;
            }

            img {
                margin-left: auto;
            }
        }

        &.five {
            top: clamp(-325px, -21vw, 1920px);
            left: clamp(50px, 2vw, 1920px);

            @include responsive('tablet') {
                top: clamp(-330px,-25vw,1920px);
                left: 0;
                z-index: -2;
            }

            @include responsive('small') {
                top: -70px;
                left: 10px;
            }
        }

        img {
            flex: 1;
        }
    }
}